#fotartalom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "a"
    ""
    ;

}

img{
    width: 200px;
    height: auto;
}

header{
    
}

footer{
    color: green;
    text-align: center;
}

